/* Contenedor principal */
.cotiza-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f2f2f2;
}

/* Contenedor de la sección principal de cotización */
.cotiza-container01 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border: 3px dashed #808080;
  margin: 20px 0;
  justify-content: space-between; /* Asegura que los elementos estén separados lateralmente */
}

/* Contenedor de la cotización */
.cotiza-main {
  display: flex;
  flex-direction: row; /* Cambia a disposición lateral */
  justify-content: flex-start;
  width: 70%; /* Controla el ancho */
  padding-right: 20px;
}

/* Contenedor del ticket */
.cotiza-cart {
  width: 30%; /* Ajusta el ancho del ticket */
  background: #f9f9f9;
  padding: 20px;
  border: 2px dashed #ccc;
  text-align: left;
  border-radius: 10px;
  align-self: flex-start; /* Alinea el ticket en la parte superior */
}

/* Estilos de cada ítem del ticket */
.ticket-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.ticket-item span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Encabezado del ticket */
.cotiza-text08 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Botones */
.cotiza-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
}

.cotiza-button:hover {
  background-color: #2980b9;
}

/* Estilos para los selectores y campos de entrada */
.cotiza-selectores {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px; /* Añadir espacio entre la selección y la imagen */
}

.superContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.selectContainer,
.inputContainer {
  margin-bottom: 20px;
}

.selectContainer select,
.inputContainer input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Imagen de la cotización */
.cotiza-imagen {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px; /* Espacio entre la imagen y los selectores */
}

.cotiza-image {
  width: 243px;
  height: 243px;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid #ccc;
}

/* Asegura que el ticket y la sección de cotización estén alineados lateralmente */
.cotiza-container01 {
  display: flex;
  flex-direction: row; /* Asegura la disposición horizontal */
  align-items: flex-start;
}
.ticket-details {
  margin-bottom: 15px;
}

.ticket-details p {
  margin: 5px 0;
  font-size: 14px;
}
